{% block title %}
	
{% endblock %}

{% block Sioblog_body %}

	{{ include ("TOBATBundle:Default:form.html.twig")}}
	<a href="{{ path('tobat_connexion') }}">Valider</a>

	<ul>
		
	</ul>

{% endblock %}