{% block title %}
	
{% endblock %}

<body>

	{% if app.user %}
		<h1>Bienvenue sur la plateforme Tobat</h1>
		<a href="{{ path('tobat_logout') }}">Logout</a>
	{% else %}

		{% if error %}
		    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<form action="{{ path('tobat_login') }}" method="post">
		    <label for="username">Username:</label>
		    <input type="text" id="username" name="_username" autocomplete="off" />

		    <label for="password">Password:</label>
		    <input type="password" id="password" name="_password" autocomplete="off" />

		    <button type="submit">login</button>
		</form>

	{% endif %}

</body>